@(message: String)
<!DOCTYPE html>
<html>
	<head>
		<title>My TweetMiner</title>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
				var input = document.getElementById("searchbox");
				var button = document.getElementById("goButton");
				input.addEventListener("keyup", function(e){
					if(e.keyCode===13)
						button.click();
				});
		</script>

	</head>
	<body>
		<h1>@message</h1>
		<form id="form">
			<div id="container">
				<input id="searchbox" type="text" name="search" placeholder="(enter search items)"/>
				<button type="submit" id="goButton"><i class="material-icons w3-xxlarge">search</i></button>
			</div>
			<br>
			<div id="content">
				<table id="tweetTable" style="width: 100%" border="1" bordercolor="#0000FF">
						<tr>
							<th>Sr. No.</th>
							<th>Tweet</th>
							<th>User Name</th>
							<th>User Handle Name</th>
							<th>Tweet Location</th>
							<th>Hash Tag</th>
						</tr>
				</table>
			</div>
		</form>

		<script>

			var flag=false;
				$('#form').submit(function(ev) {
					ev.preventDefault();
					var input = document.getElementById("searchbox").value;

					var ws = new WebSocket('ws://localhost:9000/ws');

					console.log("Testing "+input);
					var keywordDiv="<div id='"+input+"'></div>";
					console.log(keywordDiv);
					ws.onopen = function() {
						ws.send(input);
					};

					ws.onmessage = function (msg){
						var data = JSON.parse(msg.data);
						$('#'+ data[0].keyword ).empty();
						var number_of_rows = data.length;
						var table_row='';
						table_row+='<tr>';
						table_row+='<td></td>';
						table_row+='<td>';
						table_row+='<center><b><font color="#7cfc00">Search Keyword = <a href ="http://localhost:9000/tweetWords/'+data[0].keyword+'" target="_blank">'+data[0].keyword+'';
						table_row+='</a>';
                        table_row+='; Sentiment '+data[0].sentiments+'</center></font></b>';
						table_row+='</td>';
						table_row+='</tr>';
						var rowCount;
						if(flag==true)
							rowCount = $('table#tweetTable tr:last').index();
						else
							rowCount = $('table#tweetTable tr:last').index()+1;
						$('#tweetTable').remove('#'+ input );
						for(j=0; j<number_of_rows && j<10; j++){
							var location = data[j].userLocation;
							table_row+='<tr>';
							table_row+='<td>';
							table_row+=j+1;
							table_row+='</td>';
							table_row+='<td>';
							table_row+=data[j].tweetsText;
							table_row+='</td>';
							table_row+='<td>';
							table_row+=data[j].userName;
							table_row+='</td>';
							table_row+='<td>';
							table_row+='<a href ="http://localhost:9000/getUserProfile/'+data[j].userScreenName+'" target="_blank">';
							table_row+=data[j].userScreenName;
							table_row+='</a>';
							table_row+='</td>';
							table_row+='<td>';
							table_row+='<a href ="http://localhost:9000/getLocation/'+data[j].geolocationLatitude+'/ '+ data[j].geolocationLongitude+'" target="_blank">';
							table_row+=location;
							table_row+='</a>';
							table_row+='</td>';
							table_row+='<td>';
							var hashtagsString= data[j].getHashtags.toString().split(",");
							for(k=0;k<hashtagsString.length;k++)
							{
								// table_body+=hashtagsString[k];
								var hash=hashtagsString[k];
								// here try to pass hash as parameter to getHashtags function
								table_row+='<a href ="http://localhost:9000/getHashtags/'+hash+'" target="_blank">';
								table_row+=hash;
								table_row+='</a>';
								table_row+=" ";
							}
							table_row +='</td>';
							table_row +='</tr>';
						}
						//table_body+='</tbody></table>';
						//$('#tweetTable tr:last').after(table_row);
						//$('#'+ input ).append(table_row);
						$('#'+ data[0].keyword ).append(table_row);
						flag=true;
						// $('#content').html(table_body);
					};

					$('#tweetTable').append(keywordDiv);
				});
		</script>
	</body>
</html>