@(message: String)
<!DOCTYPE html>
<html>
	<head>
		<title>My TweetMiner</title>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
                (document).ready(function(){
                    $("#btn1").click(function(){
                        $("p").append(" <b>Appended text</b>.");
                    });
                });
        </script>
	</head>
	<body>
		<h1>@message</h1>
		<form id="form">
			<div id="container">
				<input id="searchbox" type="text" name="search" placeholder="(enter search items)"/>
				<button type="submit" id="goButton"><i class="material-icons w3-xxlarge">search</i></button>
			</div>
            <br>
			<div id="content" align="center"></div>
		</form>
        <center><a href ="http://localhost:9000/getSentiment/sachin" target="_blank">Get Sentiment</a></center>
        <center><a href ="http://localhost:9000/getTweetWords/sachin" target="_blank">Get Tweet Words</a></center>
		<script>
				$('#form').submit(function(ev) {
					ev.preventDefault();
					var input = document.getElementById("searchbox").value;
					$.get('http://localhost:9000/search/' + $('#searchbox').val(), function (data) {
						console.log(JSON.stringify(data));
						//console.log(data[0].tweetsText);
						var number_of_rows = data.length;
						var table_body = '< id="example"><thead><tr><th>Sr. No.</th><th>Tweet</th><th>User Name</th><th>User Handle Name</th><th>Tweet Location</th><th>Hash Tag</th></tr></thead><tbody>';
						for(j=0; j<number_of_rows; j++){
							table_body+='<tr>';

							table_body +='<td>';
							table_body +=j+1;
							table_body +='</td>';

							table_body +='<td>';
							table_body +=data[j].tweetsText;
							table_body +='</td>';

							table_body +='<td>';
							table_body +=data[j].userName;
							table_body +='</td>';

							table_body +='<td>';
							table_body +=data[j].userScreenName;
							table_body +='</td>';

							table_body +='<td>';
							var location = data[j].userLocation;
                            table_body+='<a href ="http://localhost:9000/getLocation/'+location+'" target="_blank">';
							table_body +=location;
                            table_body+='</a>';
							table_body +='</td>';

							table_body +='<td>';
							var hashtagsString= data[j].getHashtags.toString().split(",");
							for(k=0;k<hashtagsString.length;k++)
							{
								// table_body+=hashtagsString[k];
								var hash=hashtagsString[k];
								// here try to pass hash as parameter to getHashtags function
								table_body+='<a href ="http://localhost:9000/getHashtags/'+hash+'" target="_blank">';
								table_body+=hash;
								table_body+='</a>';
								table_body+=" ";
							}
							table_body +='</td>';
							'</tr>';
						}
						table_body+='</tbody></table>';
						$('#content').html(table_body);
					});
				});
		</script>
	</body>
</html>