<!DOCTYPE html>
<html>
<head>
	<title>My TweetMiner</title>
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheets" href="https://fonts.googleapis.com/css?family=Chela+One"s>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<h1>Welcome to TweetMiner</h1>	
<form id="form">
	<div id="container">
		<input id="searchbox" type="text" name="search" placeholder="(enter search items)"/>
		<button id="goButton"><i class="material-icons w3-xxlarge">search</i></button>
	</div>
</form>
<script>
$('#form').submit(function(ev) {
    ev.preventDefault();
});
</script>
</body>
</html>