@import Model.TweetModel;

@(tweetList: List[TweetModel])(searchTerms:String)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Tweet Miner</title>
	</head>
	<body>
		<form>
			<input type="input"></form>
			<t>
		</form>

		<h4> Search Terms: <a href = "@routes.SearchController.tweetWords(searchTerms)">@searchTerms </a></h4>
		<ol>
			@for(tweet <- tweetList) {
  				<li>
  					<p> 
  						<b>
  						<a href ="@routes.SearchController.userProfile(tweet.getAuthor())">@tweet.getAuthor()</a>
  						<a href ="@routes.SearchController.locationTweets(tweet.getLocation())">(@tweet.getLocation()): </a>
  						</b> 
  						@tweet.getText()
  						@tweet.getOneHashtag()
  					</p>
  				</li>
			}
		</ol>
	</body>
</html>